<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Pet</title>
</head>
<body>
<h3>Create a New Pet</h3>
{# Forms need to have their method and action set #}
{# action must direct to the url that the form data must sent to #}
{# This is how data from the form page gets back to the create_owner method in views.py #}
<form method="post" action='{% url 'pets:create_pet' %}' enctype="multipart/form-data">
    {# csrf_token is required whenever data is being submitted to a page. #}
    {% csrf_token %}
    {# Forms can be formatted with html tags #}
    <p>Name: {{ form.name }}</p>
    <p>Type: {{ form.type }}</p>
    <p>Age: {{ form.age }}</p>
    <p>Owner: {{ form.owner }}</p>
    <button type="submit">Submit</button>
    <button type="button" onclick="location.href='{% url 'pets:home' %}'">Back</button>
</form>
</body>
</html>